<% include partials/header %>


   

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Manterest!</h1>
            <p>Manterest is the largest collection of manly pins on the internet. Enjoy wedding dress free feeds, and only the manliest of ideas to view!</p>
            <p>Click below to post your own pin!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/new">Add a pin here</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% posts.forEach(function(post){ %>
            <div class="col-md-6 col-sm-12">
                <a href="/show/<%= post._id %>">
                    <div class="thumbnail">
                        <img src="<%= post.image %>">
                    </div>
                </a>    
            </div>
        <% });%>
    </div>
</div>

<% include partials/footer %>