<% include ../partials/header %>
<center style="color: #C9C9C9">
    <h1><%=post.title%></h1>
    
    <img src="<%=post.image%>">
    <br>
    <br>
    <h4><%=post.caption%></h4>
</center>

<% include ../partials/footer %>